@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* Общие стили */
body {
    font-family: "Luckiest Guy", "Arial", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background: linear-gradient(135deg, #20002c, #cbb4d4);
    color: #fff;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(238, 238, 40);
}

/* КРАСНОЕ ЯБЛОКО */
#apple {
    color: #eb857e;
}

/* Таймер */
#timer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
    visibility: hidden; /* Таймер скрыт до начала игры */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .4);
    background-color: #720e28;
}
/* Игровая доска */
#game-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Гибкая сетка */
    gap: 10px;
    max-width: 400px;
    perspective: 1000px; /* Дает плавный эффект вращения */
    justify-content: center;
    margin: 20px;
}

#start-btn {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    background-color:#fafad2;
    color: #640a6b;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.2s, opacity 0.15s;
}

#start-btn:hover {
    transform: scale(1.1);
}

#start-btn:active {
    opacity: .8;
}

/* Карточка */
.card {
    width: 80px;
    height: 80px;
    background: #FCE79A;
    color: #333;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transform-style: preserve-3d; /* 3D-эффект */
    transition: transform 1s, background 1s, color 1s;
}

/* Анимация при наведении */
.card:hover {
    transform: scale(1.1);
}

/* Переворот карточки */
.card.flipped {
    transform: rotateY(180deg);
    background-color: white;
    color: black;
}


/* Модальное окно */
#win-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #8c1335;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.modal-content h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: rgb(238, 238, 40);
}

.modal-content p {
    font-size: 18px;
}

#close-modal {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fafad2;
    color: #640a6b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#close-modal:hover {
    transform: scale(1.1);
}
